body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 164, 103);
}
h1 {
    color: rgba(190, 99, 1, 0.679);
    margin: 5px 7px 9px 10px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    margin: 9px 8px 8px 9px;
    font-size: 20px;
    background-color: rgb(151, 99, 50);
}

p {
    color: rgb(228, 166, 32);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.link-header {
    background-color: chocolate;
    color: rgb(122, 33, 0);
}
.link-nav {
     background-color: chocolate;
    color: rgb(122, 33, 0);
}
